.wrapper {
    position: relative;
    display: flex;
}

.input {
    width: 100%;
    padding: 10px 30px 10px 10px;
    border: 1px solid var(--gray-light-color);
    border-radius: 4px;
    color: var(--black-color);
    transition: border-color .3s ease;
}

.input::placeholder {
    color: var(--gray-color);
}

.input:focus {
    outline: none;
    border-color: var(--blue-color);
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.icon {
    position: absolute;
    display: flex;
    width: 14px;
    height: 14px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%)
}