.wrapper {
    position: relative;
    display: inline-block;
}

.input {
    padding: 6px 30px 6px 10px;
    border: 1px solid var(--gray-light-color);
    border-radius: 4px;
    color: var(--black-color);
    transition: border-color .3s ease;
}

.input::placeholder {
    color: var(--gray-color);
}

.input:focus {
    outline: none;
    border-color: var(--blue-color);
}

.icon {
    position: absolute;
    display: flex;
    width: 14px;
    height: 14px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%)
}