@import url('./normalize.css');
@import url('./vars.css');
@import url('./fonts.css');

html {
    font-family: "Raleway", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
}